<div>
    <h3>Level :</h3>
    <p>lvl: 1</p>
  </div>

  <div>
    <h3>Caractéristiques :</h3>
    <div *ngFor="let index of [0, 1, 2, 3, 4, 5]">
      <p>{{ characteristicsNames[index] }}: {{ characteristicsValues[index] }}</p>
    </div>
  </div>
  
  <div>
    <button (click)="startAnimations()">Générer</button>
  </div>
  
  <div class="overlay" [class.active]="showMachines">
    <div class="machine-container">
      <div *ngFor="let index of [0, 1, 2, 3, 4, 5]" class="machine">
        <div id="slot{{ index }}" class="slot">
          <div class="number">1</div>
          <div class="number">2</div>
          <div class="number">3</div>
          <div class="number">4</div>
          <div class="number">5</div>
          <div class="number">6</div>
          <div class="number">7</div>
          <div class="number">8</div>
          <div class="number">9</div>
          <div class="number">10</div>
          <div class="number">11</div>
          <div class="number">12</div>
          <div class="number">13</div>
          <div class="number">14</div>
          <div class="number">15</div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="onNext()" class="btn-next">Suivant</button>
  <router-outlet></router-outlet>