.container {
    margin-top: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 5px;
  }
  
  .list-group {
    margin-top: 10px;
  }
  
  .list-group-item {
    border: none;
    background-color: transparent;
  }
  
  .btn-next {
    margin-top: 20px;
  }
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
